ion-menu-button {
  color: var(--ion-color-primary);
}

:root {
  --ion-color-header-color: #E16B39;
  --ion-color-header-color-rgb: 225,107,57;
  --ion-color-header-color-contrast: #000000;
  --ion-color-header-color-contrast-rgb: 0,0,0;
  --ion-color-header-color-shade: #c65e32;
  --ion-color-header-color-tint: #e47a4d;
}

.ion-color-header-color {
  --ion-color-base: var(--ion-color-header-color);
  --ion-color-base-rgb: var(--ion-color-header-color-rgb);
  --ion-color-contrast: var(--ion-color-header-color-contrast);
  --ion-color-contrast-rgb: var(--ion-color-header-color-contrast-rgb);
  --ion-color-shade: var(--ion-color-header-color-shade);
  --ion-color-tint: var(--ion-color-header-color-tint);
}


#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
