ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.container .note-body
{
  margin-top: .5em;
  border: 2px solid #E16B39;
  border-radius: .8em;
  padding: .5em;
}

.title-note
{
  .title
  {
    font-size: 1.4em;
  }
}
.text-note
{
  margin-bottom: .5em;
  .text
  {
    font-size: 1em;
  }
}

.footer-note
{
  display: flex;
  justify-content: space-between;
  font-size: .8em;
  .left-block
  {
    width: 50%;
    display: flex;
    flex-direction: row;
    .tag-item
    {
      border: 1px solid currentColor;
      border-radius: .3em;
      padding: .2em .5em;
      width: fit-content;
      margin-right: .5em;
    }
    .tag-item:last-child
    {
      margin-right: 0;
    }
  }

  .right-block
  {
    width: 50%;
    display: flex;
    vertical-align: bottom;
    justify-content: flex-end;
    .date
    {
      width: fit-content;
      display: flex;
      align-items: flex-end;
    }
  }
}



