<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons >
    <ion-title>Note X</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="container">
    <ion-row *ngFor="let note of notes" class="note-body">
      <ion-col>
        <div class="title-note">
          <span class="title">{{note.Title}}</span>
        </div>
        <div class="text-note">
            <span class="text">{{note.Text}}</span>
        </div>
        <div class="footer-note">
          <div class="left-block">
            <div class="tag-item" *ngFor="let tag of tags">
              <span>{{ tag }}</span>
            </div>
          </div>
          <div class="right-block">
            <div class="date">
              <span>{{note.Date}}</span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-new-note']">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
