<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>NoteX</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let item of menuItems; let i = index">
            <ion-item routerDirection="root" [routerLink]="" lines="none" detail="false" routerLinkActive="selected" routerLinkActive="active" (click)="setSelectedTagFilter(item)">
              <ion-label>{{ item.Name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/add-new-tag']" lines="none" detail="false" routerLinkActive="selected" routerLinkActive="active">
              <ion-label>New Tag</ion-label>
              <ion-button shape="round" color="primary">
                <ion-icon name="add" color="light">
                </ion-icon>
              </ion-button>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
