<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['']"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="container">
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-textarea id="titulo" [(ngModel)]="note.Title"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Texto</ion-label>
      <ion-textarea id="texto" [(ngModel)]="note.Text"></ion-textarea>
    </ion-item>

    <ion-item>
      <div class="col">
        <div class="row title-field">
          <span>Tags</span>
        </div>
        <div class="row">
          <div class="tag" *ngFor="let tag of note.Tags">
            <div class="tag-item">
              <span>{{ tag.Name }}</span>
            </div>
          </div>
          <ion-button shape="round" [routerLink]="['/add-new-tag']">
            <ion-icon name="add" color="light"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-item>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="deleteNote()" [routerLink]="['']" color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveNote()" [routerLink]="['']" color="success">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
