<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['']"></ion-back-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <app-list-notes [notes]="notes" [tags]="tags"></app-list-notes>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-new-note']">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
