<ion-grid class="container">
  <ion-row *ngFor="let note of notes; let i = index" class="note-body" (click)="setSelectedNoteToEdit(note, i)" [routerLink]="['/add-new-note']" >
    <ion-col>
      <div class="title-note">
        <span class="title">{{note.Title}}</span>
      </div>
      <div class="text-note">
          <span class="text">{{note.Text}}</span>
      </div>
      <div class="footer-note">
        <div class="left-block">
          <div class="tag-item" *ngFor="let tag of tags">
            <span>{{ tag.Name }}</span>
          </div>
        </div>
        <div class="right-block">
          <div class="date">
            <span>{{note.CreatedDate}}</span>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
