.container .tag-item
{
  padding: .5em;
  display: flex;
  height: max-content;
  display: flex;
}

.tag-item
{
  display: flex;
  align-items: center;
  .left-side
  {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .right-side
  {
    width: min-content;
    display: flex;
    vertical-align: bottom;
    justify-content: flex-end;
  }

  textarea.textarea
  {
    max-width: max-content;
    min-width: 100%;
    width: max-content;
    max-height: 2em;
    min-height: 2em;
    border: 2px solid #E16B39;
    border-radius: .5em;
    font-size: 1.4em;
  }

  span
  {
    font-size: 1.2em;
  }
}
