<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tags</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="container">

    <div class="tag-item" *ngFor="let tag of tags; let i = index" id="list-tags">
      <div class="left-side">
        <span *ngIf="!isEdit[i]" class="text-tag">{{ tag.Name }}</span>
        <textarea *ngIf="isEdit[i]" class="textarea" maxlength="15" type="text" [(ngModel)]="textTag[i]"></textarea>
      </div>
      <div class="right-side">
        <ion-button shape="round" color="primary" *ngIf="!isEdit[i]" (click)="editTag(i)">
          <ion-icon name="pencil-sharp" color="light"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="success" *ngIf="isEdit[i]" (click)="confirmEditTag(i)">
          <ion-icon name="checkmark" color="light"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="danger" (click)="deleteTag(i)">
          <ion-icon name="trash" color="light"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="tag-item" id="add-new-tag">
      <div class="left-side">
        <span *ngIf="!isAdd" class="text-tag">New Note</span>
        <textarea *ngIf="isAdd" class="textarea" maxlength="15" type="text" [(ngModel)]="textNewTag"></textarea>
      </div>
      <div class="right-side">
        <ion-button shape="round" color="primary" *ngIf="!isAdd" (click)="addNewTag()">
          <ion-icon name="add" color="light"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="primary" *ngIf="isAdd" (click)="comfirmAddNewTag()">
          <ion-icon name="checkmark" color="light"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="danger" *ngIf="isAdd" (click)="cancelAddNewTag()">
          <ion-icon name="trash" color="light"></ion-icon>
        </ion-button>
      </div>
    </div>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" [routerLink]="['/add-new-note']">
      <ion-icon name="add" color="light">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
